<!-- Sidebar -->
<div class="spaces-sidebar {{visible ? '' : 'hidden'}}">
    <div class="showHide">
        <span class="fa {{visible ? 'fa-angle-double-left' : 'fa-angle-double-right'}}" (click)="toggleSidebar()" title="Items"></span>
    </div>
    <div class="spaces-sidebar-menu {{visible ? '' : 'hide'}}">
        <div>
            <header>Navigation</header>
            <content>
                <span class="fa {{pinnedIcon}}" (click)="togglePinned()" title="Pinned">Pin Sidebar While Navigating</span>
            </content>
        </div>
        <p-accordion>
            <p-accordionTab header="Routes" [selected]="true">
                <ul>
                    <li>
                        <a (click)="goTo('main')">Home</a>
                    </li>
                    <li>
                        <a (click)="goTo('associations')">Associations</a>
                    </li>
                    <li>
                        <a (click)="successMessage('Something worked')" label="Show Success Message">Success</a>
                    </li>
                    <li>
                        <a (click)="errorMessage('Something failed')" label="Show Error Message">Error</a>
                    </li>
                </ul>
            </p-accordionTab>
            <p-accordionTab header="About" [selected]="false">
                <ul>
                    <li>{{ cookiecutter.application_name }}</li>
                    <li>Version: {{ cookiecutter.version }}</li>
                </ul>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>