<div class="spaces-item">
<p-tabView (onChange)="tabChange($event)">
    <p-tabPanel header="Parameters">
        <tc-parameters></tc-parameters>
    </p-tabPanel>
    <p-tabPanel header="Data Store" *ngIf="showTab.settings">
        <tc-settings></tc-settings>
    </p-tabPanel>
    <p-tabPanel header="Resource Data" *ngIf="showTab.resource">
        <tc-resource></tc-resource>
    </p-tabPanel>
    <p-tabPanel header="Owners" *ngIf="showTab.owners">
        <tc-owners></tc-owners>
    </p-tabPanel>
</p-tabView>
</div>
<div class="spaces-item">
    <button pButton type="button" (click)="goTo('associations')" label="Route To -> Associations"></button>
    <button pButton type="button" (click)="successMessage('Something worked')" label="Show Success Message"></button>
    <button pButton type="button" (click)="errorMessage('Something failed')" label="Show Error Message"></button>
</div>
