<p-table [value]="parameters">
  <ng-template pTemplate="header">
    <tr>
      <th [pSortableColumn]="'name'">
        Name
        <p-sortIcon [field]="'name'"></p-sortIcon>
      </th>
      <th [pSortableColumn]="'value'">
        Value
        <p-sortIcon [field]="'value'"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-parameter>
    <tr>
      <td>{{ parameter.name }}</td>
      <td>{{ parameter.value }}</td>

    </tr>
  </ng-template>
</p-table>
